@font-face {
    font-family:"Socialico";
    src:url("../fonts/Socialico.eot?") format("eot"),
    url("../fonts/Socialico.woff") format("woff"),
    url("../fonts/Socialico.ttf") format("truetype"),
    url("../fonts/Socialico.svg#Socialico") format("svg");
    font-weight:normal;font-style:normal;
}

$headerColor: rgb(41,47,54);
$seaColor: rgb(35, 183, 164);
$navColor: rgb(164, 174, 173);
$altBgColor: rgb(58,69,77);
$inputBgColor: rgb(234,238,241);

$font1: "OpenSans";
$font2: "Quattrocento Sans";
$font3: "Socialico";


* {
    margin: 0;
    padding: 0;
    font-family: $font1, sans-serif;
    box-sizing: border-box;
}

.header {
    background-color: $headerColor;
    height: 10vh;
    display: flex;
    align-items: center;
}

.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    ul {
        list-style-type: none;
        margin: 0;
        margin-left: 8.3vw;
        li {
            float: left;
            text-transform: uppercase;
            padding-right: 2.3vw;
            a {
                color: $navColor;
                text-decoration: none;
                &:hover {
                    color: $seaColor;
                    border: 1px solid $seaColor;
                    border-radius: 5px;
                    padding: 5px;
                }
            }
        }
    }
}

.banner {
    height: 90vh;
    background-image: url("../images/slider.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 45%;
    position: relative;
    .welcome {
        width: 50vw;
        color: white;
        font-family: $font2, sans-serif;
        position: absolute;
        top: 33%;
        left: 11%;
        h2 {
            text-transform: uppercase;
            letter-spacing: -1.5px;
        }
        p {
            padding-top: 1vh;
            padding-bottom: 2vh;
            color: $navColor;
        }
        button {
            width: 9vw;
            height: 6vh;
            border: 2px solid white;
            border-radius: 5px;
            color: white;
            background-color: transparent;
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: -1px;
            &:hover {
                background-color: $seaColor;
                border: 1px solid $seaColor;
            }
        }
    }
}

.team {
    height: 80vh;
    background-color: aqua;
}

.work {
    height: 118vh;
    background-color: bisque;
}

.services {
    height: 120vh;
    background-color: cadetblue;
}

.contact {
    height: 95vh;
    background-color: coral;
}

.footer {
    height: 12vh;
    background-color: green;
}